.body {
    background-image: url(img/fondsite.png);
    align-items: flex-start;
    background-size: cover;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.t1 {
    text-align: center;
    color: yellow;
    text-justify: auto;
    font-size: xxx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span {
    text-align: center;
    color: yellow;
    text-justify: auto;
    align-items: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 6px;
}
pre {
    color: yellow;
    text-justify:auto;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: pre-wrap;
    word-break: break-word;
    padding: 6px;
}

.t2 {
    text-align: center;
    color: yellow;
    text-justify: auto;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.start{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 30px;
    padding: 4px;
}
.Name{
    padding: 4px;
    display: flex;
}
.pdp {
    padding: 4px;
    display: flex;
}

.outline {
    padding: 4px;
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-outline {
    padding: 4px;
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.skill {
    padding: 4px;
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;

}

.content-skill {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ll-img {
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.s-l-c {
    background-color: black;
    padding: 4px;
    border: solid;
    border-width: 2px;
    border-color: #ffff00;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: fit-content;
    flex-direction: column;
}

.t-s{
    display: flex;
    padding: 4px;
}

.gauge-background {
    position: absolute;
    width: 200px;
    height: 30px;
    background-color: #333;
    border-radius: 5px;
}
.gauge-container {
    padding: 4px;
    position: relative;
    width: 200px;
    height: 30px;
}
.gauge {
    position: relative;
    width: 0;
    height: 100%;
    background-color: yellow;
    border-radius: 5px;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
}
.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: black;
}


.hide {
    align-items: center;
    padding: 4px;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    display: flex;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
}
.hide.show {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}

.rotated {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}
.rotated-reverse {
    transform: rotate(0deg);
    transition: transform 0.5s ease;
}

.project {
    padding: 4px;
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    

}
.content-project{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    
}
.p-p{
    width: 48%;
    display: flex;
    flex-direction: column;
    border: solid;
    border-width: 2px;
    border-color: #ffff00;
    background-color: black;
}
.img-code1{
    width: 100%;
    height: auto;
}
.p-p-txt{ 
    display: flex;
    margin: 10px;
}
#p-lien:link{
    color: #ffff00;
    text-decoration: none;
}
#p-lien:visited{
    color: #ffff00;
    text-decoration: none;
}
#p-lien:hover{
    color: #ffff00;
    text-decoration: none;
}
#p-lien:active{
    color: #ffff00;
    text-decoration: none;
}
.contact {
    padding: 4px;
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}